.flex_container {
    justify-self: center;
    margin: 2em 2em 6em 2em;
    width: 90vw;
    display: flex;
    justify-content: center;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10em;
}

h1 {
    margin-bottom: 0.5em;
}

#landing_page_question_img {
    width: 400px;
    height: auto;
}

p {
    width: 40vw;
    font-size: 1.2em;
}

@media screen and (max-width: 900px) {
    .flex_container {
        justify-self: center;
        margin: 0;
        flex-direction: column;
    }
    .headings {
        width: inherit;
        margin: 0;
        text-align: center;
    }
    .headings p {
        width: inherit;
    }
    #landing_page_question_img {
        width: 200px;
        height: auto;
        align-self: center;
    }
}